@import '../../tools/tools'

@media #{$desktop}
    .b-logos
        display: flex
        flex-flow: row
        justify-content: space-between
        padding: 1.75rem 0

        &__item
            width: 15%
            margin-bottom: 0
