@import "reset.css";

.page {
    height: 100%;
    background: #fff url(../img/page-background.png) 0 0 repeat;
    font-family: 'Tahoma', sans-serif;
}


/*-- WRAPPER --*/

.wrapper {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 990px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 1);
}


/*-- HEADER --*/

/* Aligning items in header using Flex, so no matter content size or anount it will have same layout, pushing two rows to the sides and then bottom */
.header {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;
    height: 175px;
    padding: 9px 40px 0px;
    color: #128aa7;
}


/* Position:relative so we can position Slogan inside using position: absolute */
.logo__link {
    display: block;
    position: relative;
    height: 164px;
}

.logo__text {
    position: absolute;
    top: 100px;
    left: 72px;
    font-size: 12px;
    color: #128aa7;
}


/*--- CONTACTS ---*/

.contacts {
    font-size: 12px;
    color: #128aa7;
    opacity: 0.8;
}

.contacts__header {
    margin-bottom: 6px;
    font-weight: bold;
    opacity: inherit;
}

.contacts__phone {
    padding-top: 4px;
    margin-top: 4px;
    opacity: inherit;
}

.contacts__mail {
    margin-top: 7px;
    opacity: inherit;
}


/*--- COUNTRIES-LIST ---*/

/* Using flex instead of Float or inline-block */
.countries-list {
    display: flex;
}

.countries-list__item {
    margin-right: 14px;
}

.countries-list__item:last-child {
    margin: 0;
}


/* Using flex to position img and span inside the link in a column and also centered on Y axis */
.countries-list__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 42px;
    padding-bottom: 8px;
    font-size: 10px;
    color: #128aa7;
}

.countries-list__img {
    width: 42px;
    height: 42px;
}


/*--- HEADLINE ---*/

.headline {
    border-top: 1px solid #128aa7;
    border-bottom: 1px solid #128aa7;
    height: 237px;
}


/*--- MAIN-NAV ---*/

/* z-index=100 so that block shadow is above underlying sidebar\content blocks */
.navigation {
    z-index: 100;
}

.main-nav {
    display: flex;
    border-top: 1px solid #cacbcb;
    border-bottom: 1px solid #000;
    background-color: #333333;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
}

.main-nav__item {
    height: 28px;
    margin: 0 30px;
    position: relative;
}

.main-nav__link, .main-nav__sublink {
    display: block;
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    padding-left: 10px;
    text-decoration: none;
}

.main-nav__bullet {
    padding-left: 3px;
}


/* Hiding submenu and giving it position absolute so it will display in a proper place relative to li on hover */
.main-nav__submenu {
    display: none;
    position: absolute;
    width: 150px;
    top: 29px;
    left: 0;
    background-color: #303030;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}


/* Using > so only the apparent child of .main-nav__item will have display: block */
.main-nav__item:hover>.main-nav__submenu {
    display: block;
}


/*--- CONTENT ---*/

/* Using this container for 2 sidebars and content block in order to be able to use Flex to create equal height blocks inside this parrent, align-items: stretch is a default value */
.content-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.sidebar {
    width: 20%;
    padding: 12px 15px;
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;
    background-color: #edeef0;
}

.sidebar__header {
    font-size: 18px;
    font-weight: bold;
    color: #424c43;
    text-align: center;
    margin-bottom: 10px;
}


/* Not using BEM for p inside sidebar because this will most likely be some data coming from CMS, so we specify styles for it using tag selector */
.sidebar p {
    font-size: 14px;
    line-height: 28px;
    color: #424c43;
}

.content {
    width: 60%;
    background-color: transparent;
}


/*--- FOOTER ---*/

.footer {
    margin: 10px 0;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
}

.legal__text {
    text-align: center;
}
