@import '../../tools/tools'

@media #{$mobile}
    .page-footer
        padding-top: 3rem

        &__nav
            display: block
            text-align: center
            margin-bottom: 2.625rem
            font-size: 0

            .nav__item
                text-align: center
                width: auto
                margin-right: 7%
                white-space: nowrap

                &:last-child
                    margin-right: 0
