.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 700px;
}

.list {
  margin-bottom: 20px;
  width: 100%;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding-bottom: 5px;
    color: #fefefe;
    font-size: 18px;
    line-height: 1.5;
    border-bottom: 1px solid #ccc;
    word-break: break-all;
  }

  &__del {
    display: block;
    padding: 6px 8px;
    margin-left: 15px;
    border: 1px solid #ccc;
    cursor: pointer;

    &:hover {
      background-color: #aa5535;
    }
  }
}

.controlls {
  width: 100%;
  display: flex;
  justify-content: center;

  &__input {
    padding: 9px 5px;
    width: 80%;
    background-color: aliceblue;
    outline: 0;
    border: 0;
  }

  &__btn {
    padding: 10px;
    color: #fefefe;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #aa5535;

    &:hover {
      background-color: #4b6a88;
    }
  }
}