@import "~susy/sass/susy";
@import "../../sass/core/tools/tools";

.ideas-gallery {
  &__item {
    height: 120px;
    padding: 10px;

    @include span(12);

    @include susy-breakpoint(tablet) {
      height: auto;
      @include span(6 of 12);
    }

    @include susy-breakpoint(laptop) {
      @include span(4 of 12);
    }

    @include susy-breakpoint(desktop) {
      @include span(4 of 12);
    }
  }

  &__link {
    display: block;
    height: 100%;
    position: relative;

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
      z-index: 1;
    }

    &:hover {
      & .ideas-gallery__text {
        color: $accent;
      }

      &::before {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, transparent 100%);
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
  }

  &__text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;

    color: $primary-light;
    @include font-settings(large);
    font-weight: 700;
    text-align: center;
  }
}
