@import '../../tools/tools'

.nav
    &__link
        color: $primary
        font-family: $link-font
        text-transform: uppercase
        text-decoration: none

        &_visible
            visibility: visible
            padding: 0 5px

    &_view_vertical
        display: flex
        flex-direction: column
        align-items: center
        border: 1px solid rgba(5, 17, 22, 0.9)
        border-radius: 7px
        overflow: hidden

        &:hover
            >.nav__item
                display: block
                background-color: rgb(54, 41, 62)
                background-color: rgba(54, 41, 62, 0.9)
                border-bottom: 1px solid rgba(53, 39, 61, 0.9)
                box-shadow: inset 0 -1px 0 rgba(105, 82, 114, 0.59)

            .nav__link
                display: block

            .nav__link_initial
                text-shadow: none
                border: 0

        .nav__item
            min-width: 15.25rem
            padding-top: 1px
            text-align: center
            overflow: hidden

        .nav__link
            font-size: $base-font-size*1.5
            line-height: $base-font-size*2.625
            text-align: center
            height: 2.875rem

            &_initial
                text-shadow: 0 0 10px rgba(255, 255, 255, 0.6)
                border-bottom: 2px solid rgb(237, 191, 255)

            &:hover
                display: block
                background-color: rgb(0, 0, 0)
                background-color: rgba(0, 0, 0, 0.3)
                text-shadow: 0 0 10px rgba(255, 255, 255, 0.6)
                border-bottom: 2px solid rgb(237, 191, 255)

    &_view_horizontal
        display: flex
        flex-direction: row
        justify-content: space-between

        .nav__link
            font-size: $base-font-size*1.25
            font-weight: 400
            line-height: $base-font-size*2.125
            text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4)

            &:hover
                color: $accent
