@import '../tools/tools'

.b-sidebar
    display: flex
    flex-direction: column
    font-family: $secondary-fonts

    &_left
        padding-top: 3px

    &_right
        padding-top: 1px

    &__header
        display: block
        height: 27px
        padding-left: 26px
        box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75)
        border: 1px solid #79878d
        border-radius: 15px
        text-transform: uppercase

        &_left
            width: 181px
            color: #114165
            font-size: 13px
            line-height: 26px
            letter-spacing: -0.2px
            background: #fff url('../img/left-sb-icon.png') 1px 1px no-repeat

        &__right
            width: 182px
            padding-left: 30px
            line-height: 26px
            background: #fff url('../img/right-sb-icon.png') 3px 0 no-repeat
            color: #0c3256
            font-size: 14px
