@import '../tools/tools'

.search-form
    background-color: $background
    border: 1px solid #9c9c9d
    box-shadow: 2.6px 4.3px 5px rgba(104, 104, 104, 0.75)

.sf-cars
    width: 415px
    height: 135px
    margin:
        top: 12px
    border-radius: 19px

.sf-tires
    width: 194px
    height: 137px
    margin:
        top: 11px
        left: 14px
    border-radius: 18px

.sf-wheels
    width: 268px
    height: 137px
    margin:
        top: 10px
        left: 10px
    border-radius: 16px
