@import '../../tools/tools'

@media #{$mobile}
    .slider
        &_role_main
            .slider__body
                flex: 0 0 85%

            .slider__nav
                position: absolute
                bottom: -2.5rem
                left: 50%
                transform: translateX(-50%)

            .slider-item
                display: flex

                &__body
                    display: flex
                    flex-direction: column
                    align-items: flex-start
                    justify-content: center
                    flex: 1 0 50%

                &__title_sub
                    overflow: hidden
                    font-size: $base-font-size
                    max-height: $base-font-size

                &__img-wrap
                    position: relative
                    display: block
                    flex: 1 0 45%

                &__img
                    position: absolute
                    top: -.5rem
                    left: 50%
                    transform: translateX(-50%)
                    width: 12rem
