@import '../../tools/tools'

@media #{$mobile}
    .slider
        display: flex
        align-items: center
        justify-content: space-between
        max-width: 960px
        min-width: 320px
        width: 100%

        &__body
            width: 90%

        &__button
            display: block
            height: 2.625rem
            width: 2rem

            &_left
                background: url('../img/slider-arrow_left.png') 0 0 no-repeat

            &_right
                background: url('../img/slider-arrow_right.png') 0 0 no-repeat
