@import '../../tools/tools'

@media #{$mobile}
    .slider
        &__button
            display: block
            height: 2.625rem
            width: 2rem

        &_role_main
            .slider__body
                flex: 0 0 87.5%

            .slider__nav
                position: absolute
                bottom: -2.5rem
                left: 50%
                transform: translateX(-50%)

            .slider-item
                display: flex
                justify-content: space-between

                &__body
                    display: flex
                    flex-direction: column
                    align-items: flex-start
                    justify-content: center
                    width: 55%

                &__img-wrap
                    position: relative
                    display: block
                    width: 45%

                &__img
                    position: absolute
                    top: -.5rem
                    left: 50%
                    transform: translateX(-50%)
                    width: 12rem
