@import '../../tools/tools'

@media #{$tablet}
    .page-header
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-items: flex-start
        width: 95%
        padding:
            top: 4.25rem
            bottom: 5rem
        max-width: 960px

        &__nav
            position: relative
            visibility: visible
            margin-top: 2rem
            width: 85%

            &:hover
                color: $accent

            .nav__link
                font-size: $base-font-size*1.5
                padding: 0 5px

                &:hover
                    border-bottom: 2px solid rgb(237, 191, 255)
                    color: $primary

        .site-logo
            margin-left: 5px
