@import '../../tools/tools'

.blog-posts
    margin: 0 auto
    margin-top: 3.125rem
    width: 87.5%
    @include clearfix

    &__title
        margin-bottom: 1rem
        color: #454545
        font-family: $title-font
        font-size: $base-font-size*1.875
        line-height: 1
        text-transform: uppercase
        text-shadow: 0.5px 0.9px 0 #fff

    &__link
        float: right
        color: #454545
        font-family: $link-font
        font-size: $base-font-size*1.125
        text-decoration: none
        text-transform: uppercase
        text-shadow: 0.5px 0.9px 0 #fff

        &:hover
            color: #edbfff
