<div class="resig-tmpl">
  <h1>John Resig JS Templating</h1>

  <script type="text/template" id="user-card-tmpl">
    <% for(var i = 0; i < data.length; i++) { %>
      <div class="user-card">
        <img src= <%= "./img/user-pic/" + data[i].name + ".png"%> alt="user picture" class="user-card__img">
        <div class="user-card__info">
          <p class="user-card__text"><span>Name: </span><%= data[i].name%></p>
          <p class="user-card__text"><span>B.Day: </span><%= data[i].bday%></p>
          <p class="user-card__text"><span>Phone: </span><%= data[i].phone%></p>
          <p class="user-card__text"><span>Mail: </span><%= data[i].mail%></p>
          <p class="user-card__text"><span>Job: </span><%= data[i].job%></p>
        </div>
      </div>
    <% } %>
  </script>

</div>
