@import '../../tools/tools'

@-moz-document url-prefix()
    .page-header__nav
        transform: translateX(-50%)

.page-header
    position: relative
    text-align: center
    padding:
        top: 70px
        bottom: 16px
    max-width: 960px
    margin: 0 auto

    &__nav
        z-index: 100
        position: absolute
        top: 100%
        left: 50%
        transform: translateX(-50%)
        visibility: hidden

        &:hover
            visibility: visible
