@import '../../tools/tools'

.page-header
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    padding:
        top: 4.375rem
        bottom: 1rem
    max-width: 960px

    &__nav
        z-index: 100
        position: absolute
        top: 100%
        visibility: hidden

        &:hover
            visibility: visible
