.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: Roboto;

  background: url('./dist/app/img/page-bg.png') repeat;

  //https://axzerk.github.io/img/page-bg.png
}