@import '../../tools/tools'

@media #{$tablet}
    .b-logos
        display: flex
        flex-flow: row
        justify-content: space-around
        padding: 1.625rem 0

        &__item
            width: 15%
            margin-bottom: 0
