@import '../../tools/tools'

@media #{$desktop}
    .b-about
        padding:
            top: 5rem
            right: .5rem
            bottom: 4.375rem
            left: .5rem
        display: flex
        flex-direction: row
        justify-content: space-between !important
