@import '../../tools/tools'

@media #{$mobile}

    .b-content
        &__slider
            position: relative
            padding-right: 1.5rem
            margin-bottom: 3.125rem
            display: flex
            align-items: flex-end

            .slider-item
                padding:
                    right: 0
                width: 90%

                &__body
                    display: flex
                    flex-flow: row wrap
                    flex: 1 0 80%

                &__title
                    margin-right: .2rem
                    font-size: $base-font-size*1.875

                    &_sub
                        font-size: $base-font-size*1.875

            .slider__nav
                position: absolute
                bottom: -2.5rem
                left: 50%
                transform: translateX(-50%)
