@import '../../tools/tools'

@media #{$mobile}

    .b-content

        &__slider

            .slider-item
                padding:
                    right: 0
                    left: 0
                width: 87.5%

                &__body
                    width: 85%
                    display: flex
                    flex-flow: row wrap
                    justify-content: flex-start

                &__title
                    margin-right: .2rem
                    font-size: $base-font-size*1.875

                    &_sub
                        font-size: $base-font-size*1.875

                &__img
                    display: block
                    width: 3.2rem
                    height: 3.2rem
                    position: absolute
                    top: 1rem
                    left: -1.5rem
