@import '../../tools/tools'

@media #{$mobile}

    .b-content
        &__slider
            position: relative
            padding-right: 1.5rem
            margin-bottom: 3.125rem
            display: flex
            align-items: flex-end

            .slider-item
                padding:
                    right: 0
                    left: 0
                width: 90%

                &__body
                    width: 80%
                    display: flex
                    flex-flow: row wrap
                    justify-content: flex-start

                &__title
                    margin-right: .2rem
                    font-size: $base-font-size*1.875

                    &_sub
                        font-size: $base-font-size*1.875

                &__img
                    display: block
                    width: 3.2rem
                    height: 3.2rem
                    position: absolute
                    top: 1rem
                    left: -1.5rem

            .slider__nav
                position: absolute
                bottom: -2.5rem
                left: 50%
                transform: translateX(-50%)
