@import '../tools/tools'

.product
    display: flex
    flex-direction: column
    text-transform: capitalize
    width: 140px
    margin-right: 28px

    &:nth-child(3n)
        margin-right: 0

    &__brand
        color: #206988
        font-size: 15px
        line-height: 13px

        &_goodyear
            padding-left: 34px
            letter-spacing: 0.2px

        &_nokian
            padding-left: 45px
            letter-spacing: 0.1px

        &_hankook
            padding-left: 39px
            letter-spacing: 0.1px

    &__model
        color: #1f2528
        font-size: 13px

        &_goodyear
            margin-top: 1px
            padding-left: 14px
            letter-spacing: -0.1px

        &_nokian
            margin-top: 1px
            padding-left: 25px
            letter-spacing: -0.2px

        &_hankook
            margin-top: 1px
            padding-left: 11px
            letter-spacing: -0.1px

    &__link
        display: block
        height: 129px
        width: 139px
        background-color: #fff
        border: 1px solid #a4aeb1
        border-radius: 7px

        &_middle-row
            height: 129px

        &_goodyear
            padding-top: 5px
            padding-left: 30px

        &_nokian
            padding-top: 4px
            padding-left: 33px

        &_hankook
            padding-top: 4px
            padding-left: 28px

    &__price
        color: #114165
        font-size: 16px
        font-family: $base-fonts
        font-weight: 700
        font-style: italic
        line-height: 10px

        &_goodyear
            margin-top: 7px
            padding-left: 38px
            letter-spacing: 0.2px

        &_nokian
            margin-top: 9px
            padding-left: 34px
            letter-spacing: 0.7px

        &_hankook
            margin-top: 7px
            padding-left: 34px
            letter-spacing: 0.3px

    &__currency
        font-size: 12px
        text-transform: lowercase

        &_goodyear
            padding-left: 1px
            letter-spacing: 0.7px

        &_nokian
            letter-spacing: 0.5px

        &_hankook
            padding-left: 2px
            letter-spacing: 0.7px

.mt-8
    margin-top: 8px
.mt-25
    margin-top: 25px
.mt-26
    margin-top: 26px
.mt-27
    margin-top: 27px
.mt-28
    margin-top: 28px
.mt-29
    margin-top: 29px

.mr-27
    margin-right: 27px
.mr-29
    margin-right: 29px

.pt-6
    padding-top: 6px

.pl-1
    padding-left: 1px
.pl-13
    padding-left: 13px
.pl-33
    padding-left: 33px
.pl-34
    padding-left: 34px
.pl-35
    padding-left: 35px
