@import "~susy/sass/susy";
@import "../../sass/core/tools/tools";

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18px;

  @include susy-breakpoint(tablet) {
    @include span(4 of 12);
    margin-top: 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &__title {
    margin-bottom: 16px;
    color: $primary-dark;
    @include font-settings(medium);
    font-weight: 700;
  }

  & ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    @include susy-breakpoint(tablet) {
      flex-direction: column;
    }
  }

  &__item {
    margin-right: 18px;
    margin-top: 5px;

    &:last-child {
      margin-right: 0;
    }

    @include susy-breakpoint(tablet) {
      margin-bottom: 10px;
      margin-right: 0;

      &:last-child {
        margin-bottom: 0;
        margin-right: 0;
      }
    }
  }

  &__link {
    color: $secondary-dark;
    @include font-settings(medium);
    font-weight: 300;
    text-decoration: none;
    text-transform: capitalize;

    &:hover {
      color: $accent;
      text-decoration: underline;
    }
  }
}