
<div class="list-container">
    <ul class="list"></ul>

    <div class="controlls">
        <input type="text" class="controlls__input" name="" id="">
        <button class="controlls__btn">добавить</button>
    </div>
</div>