@import '../tools/tools'

.hot-nav
    display: flex
    align-items: flex-end
    width: 77px
    height: 21px
    margin-top: 20px
    padding:
        left: 8px
        right: 12px
        bottom: 6px
    background-color: #fff
    border: 1px solid #bdc4c7

    &__link
        display: block

        &_view_home
            width: 12px
            height: 11px
            margin-right: 8px
            background: transparent url('../img/home-icon.png') 0 0 no-repeat

        &_view_map
            width: 14px
            height: 10px
            margin-right: 9px
            background: transparent url('../img/site-map.png') 0 0 no-repeat

        &_view_mail
            width: 12px
            height: 9px
            background: transparent url('../img/email-icon.png') 0 0 no-repeat
