@import 'tools';

.logo {
  display: inline-block;
  white-space: nowrap;
  @include clearfix;

  &__icon {
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    background: url('../img/site-logo.png') no-repeat;
  }

  &__title {

    @include font-settings(xs-large);
    font-weight: 700;
    text-transform: capitalize;
    color: #434343;
  }

  &__text {
    opacity: 0.65;
    color: #333;
    @include font-settings(xs-small);
    font-weight: 400;
    text-transform: uppercase;
  }
}