@import 'tools';

.social-links {
  display: flex;
  justify-content: flex-end;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    width: 30px;
    height: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__icon {
    display: block;
    width: 20px;
    height: 20px;
    fill: red;

    &:hover {
      height: 25px;
      width: 25px;
    }
  }
}