@import "~susy/sass/susy";
@import "../../sass/core/tools/tools";

.gallery-container {
  padding-top: 40px;
  padding-bottom: 40px;

  @include susy-breakpoint(tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include susy-breakpoint(desktop) {
    padding: 100px 250px;
  }

  &__title {
    margin-bottom: 15px;
    padding: 0 20px;
    color: $primary-dark;
    @include font-settings(large);
    font-weight: 700;
    text-align: center;
  }

  & .button {
    width: 160px;
  }
}