@import '../../tools/tools'

@media #{$tablet}

    .b-content
        padding:
            top: 6.25rem
            bottom: 5.75rem
        width: 95%
        @include clearfix

        &__slider
            float: left
            max-width: 47.5%

            .slider-item
                padding:
                    top: 1.875rem
                    left: 2.2rem
                    bottom: 2.875rem
                width: 90%

                &__body
                    width: 100%
                    padding-right: .75rem

                &__title
                    font-size: $base-font-size*1.5

                    &_sub
                        font-size: $base-font-size*1.5

                &__text
                    margin-top: 1rem
                    max-height: $base-font-size*9

                &__img
                    position: absolute
                    top: 1.25rem

            .slider__nav
                margin-bottom: 0
                margin-top: 1.5rem
