@import '../../tools/tools'

@media #{$tablet}

    .b-content
        padding:
            top: 6.25rem
            bottom: 5.75rem
        display: flex
        flex-direction: row
        justify-content: space-between
        width: 95%

        &__slider
            display: flex
            align-items: center
            flex: 0 0 45%
            padding: 0
            margin-bottom: 0

            .slider-item
                padding-left: 2.2rem
                padding-top: 1.875rem
                padding-bottom: 2.875rem
                width: 90%
                display: flex
                flex-direction: column
                align-items: flex-end

                &__body
                    width: 100%
                    display: flex
                    flex-direction: column
                    align-items: flex-start

                &__title
                    font-size: $base-font-size*1.5

                    &_sub
                        font-size: $base-font-size*1.5

                &__text
                    margin-top: 1rem
                    max-height: $base-font-size*9

                &__img
                    position: absolute
                    top: 1.25rem

            .slider__nav
                position: relative
                margin-bottom: 0
                margin-top: 1.5rem
                bottom: auto
                left: auto
                transform: translateX(0)
