@import '../../tools/tools'

@media #{$desktop}
    .article
        float: left
        width: 30%
        margin-bottom: 0
        margin-right: 5%

        &:last-child
            margin-right: 0

        &__body
            max-width: 75%

        &__title
            font-size: $base-font-size*1.875

        &__text
            margin-top: .5rem
            max-height: $base-font-size*7.5

        &__link
            margin-top: 1.5rem
