@import '../../tools/tools'

.site-logo
    color: $primary
    font-family: $title-font
    font-size: $base-font-size*3
    text-decoration: none
    text-transform: uppercase
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3)

    &_color_purple
        background: linear-gradient(to top, #322539 0%, #745083 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        color: transparent
