@import "~susy/sass/susy";
@import "../../sass/core/tools/tools";

.partners {
  @include container();
  padding-top: 38px;
  text-align: center;

  @include susy-breakpoint(tablet) {
    padding: 100px 150px 0;
  }

  @include susy-breakpoint(desktop) {
    padding: 100px 250px 0;
  }

  &__title {
    margin-bottom: 25px;
    color: $primary-dark;
    @include font-settings(large);
    font-weight: 700;
    text-align: center;

    @include susy-breakpoint(tablet) {
      margin-bottom: 30px;
    }
  }

  &__content {
    @include container();
  }

  &__item {
    @include span(12);
    margin-bottom: 25px;

    @include susy-breakpoint(tablet) {
      @include span(6 of 12);
    }

    @include susy-breakpoint(desktop) {
      @include span(3 of 12);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  & .button {
    margin-top: 25px;
    background: transparent;
    color: $accent;

    @include susy-breakpoint(tablet) {
      width: 200px;
    }
  }
}