//Font settings
$base-font: Tahoma, sans-serif
$title-font: Arial, sans-serif
$link-font: Arial, sans-serif
$base-font-size: 1rem
$base-line-height: $base-font-size * 1.5

//Color map
// $primary: #fff
// $secondary:
// $accent:
// $background:

// Mobile devices
$mobile: "screen and (min-width: 480px) and (max-width: 767px)"
// Tablets and netbooks
$tablet: "screen and (min-width: 768px) and (max-width: 959px)"
// Deskops
$desktop: "screen and (min-width: 960px)"
// Wide desktops
$desktop-large: "screen and (min-width: 1260px)"

@mixin clearfix
    &::after
        content: ''
        display: block
        clear: both
