//Font settings
$base-font: 'Open Sans', Tahoma, sans-serif
$accent-font: 'League Gothic', Arial, sans-serif
$base-font-size: 1rem
// $base-line-height:  $base-fonts-size * 1.25

//Color map
// $primary:
// $secondary:
// $accent:
// $background:

// Для телефонов и некоторых устройств у которых совсем маленький экран
$mobile: "screen and (min-width: 480px)"
// Для нетбуков и планшетов
$tablet: "screen and (min-width: 768px)"
// /* Для больших экранов */
$desktop: "screen and (min-width: 960px)"
