//Font settings
$base-font: 'Open Sans', Tahoma, sans-serif
$title-font: 'League Gothic', Arial, sans-serif
$link-font: 'League Gothic', Arial, sans-serif
$base-font-size: 1rem
$base-line-height: $base-font-size * 1.5

//Color map
$primary: #fff
// $secondary:
$accent: #edbfff
// $background:

// Для телефонов и некоторых устройств у которых совсем маленький экран
$mobile: "screen and (min-width: 480px)"
// Для нетбуков и планшетов
$tablet: "screen and (min-width: 768px)"
// /* Для больших экранов */
$desktop: "screen and (min-width: 960px)"
