@import '../../tools/tools'

.copyright
    text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4)
    color: $primary
    font-family: $base-font
    font-size: $base-font-size*0.75

    &_view_accent
        font-weight: 700
