@import '../../tools/tools'

.slider-item
    &__body
        display: flex
        flex-direction: column

    &__title
        color: #fefefe
        font-family: $title-font
        font-size: $base-font-size*2.25
        line-height: 1.1
        text-transform: capitalize
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3)

        &_sub
            color: $accent
            font-family: $title-font
            font-size: $base-font-size*1.125
            max-height: $base-font-size*1.125
            text-transform: uppercase
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3)
