@import "~susy/sass/susy";
@import "../../sass/core/tools/tools";

.user-login {
  outline:1px solid #333;
  display: flex;
  justify-content: center;
  order: 1;
  margin-bottom: 100px;

  @include susy-breakpoint(tablet) {
    @include span(6 of 12);
    order: 2;
    margin-bottom: 0;
    justify-content: flex-end;
    padding-right: 50px;
  }
}