.contacts
    display: flex
    height: 21px
    margin-top: 22px
    padding-left: 7px

    &__icon
        display: block
        width: 22px
        margin-right: 3px
        background: transparent url('../img/phone-icon.png') 0 0 no-repeat

    &__phone
        margin-top: 2px
        font-size: 18px
        color: #5e696d

        &_left
            letter-spacing: 0.4px

        &_right
            margin-left: 6px
            letter-spacing: 0.4px
