.contacts
    display: flex
    height: 21px
    margin:
        top: 22px
        right: 16px
    padding-left: 7px

    &__icon
        display: block
        width: 22px
        margin-right: 3px
        background: transparent url('../img/phone-icon.png') 0 0 no-repeat

    &__phone
        font-size: 18px
        color: #5e696d
        line-height: 25px

        // &_pos_left
        //     padding-top: 3px
        //     letter-spacing: 0.4px
        //
        // &pos_right
        //     margin-left: 6px
        //     padding-top: 2px
        //     letter-spacing: 0.5px
