@import '../tools/tools'

.sidebar-section
    font-family: $secondary-fonts
    line-height: 25px

    &__heading
        display: flex
        align-items: center
        width: 150px
        height: 28px
        padding-left: 3px
        background-color: #fff
        border: 1px solid #79878d
        border-radius: 15px

    &__icon
        display: block
        width: 23px
        height: 23px
        margin-right: 2px
        background: transparent url('../img/sb-list-icon.png') 0 0 no-repeat

    &__heading
        color: #114165
        font-size: 14px
        text-transform: uppercase

    &__list
        line-height: 25px
        list-style: circle
        padding-left: 36px

    &__link
        color: #465961
        font-size: 13px
        text-decoration: none

        &_hover:hover
            color: #0c3256
            font-family: $base-fonts
            font-size: 14px
            font-weight: 700
            font-style: italic
            text-decoration: underline
