@import '../tools/tools'

.cart
    display: flex
    align-items: center
    font-family: $base-fonts

    &__icon
        width: 21px
        height: 17px
        margin-right: 7px
        background: transparent url('../img/cart-icon.png') 0 0 no-repeat

    &__link
        display: block
        height: 100%

    &__text
        margin-right: 14px
        color: #929b9f
        font-size: 11px

    &__quantity, &__total
        color: #0d5a8f
        font-size: 12px

    &__total
        padding-left: 5px
