@import '../tools/tools'

.cart
    display: flex
    margin-left: 56px
    font-family: $base-fonts

    &__icon
        width: 21px
        height: 17px
        margin:
            top: 7px
            right: 7px
        background: transparent url('../img/cart-icon.png') 0 0 no-repeat

    &__link
        display: block
        height: 100%

    &__text
        margin-top: 10px
        color: #929b9f
        font-size: 11px
        letter-spacing: 0.4px

        &_thin_spacing
            letter-spacing: 0.2px

    &__quantity, &__total
        display: inline-block
        color: #0d5a8f
        font-size: 12px

    &__quantity
        margin:
            top: 10px
            left: 2px
            right: 14px

    &__total
        margin:
            top: 10px
            left: 10px
        letter-spacing: 0.4px
