@import '../../tools/tools'

@media #{$tablet}
    .post
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 1rem

        &__img
            width: 3rem

        &__body
            display: flex
            flex-direction: column
            flex: 0 0 80%

        &__title
            color: #454545
            text-shadow: 0.5px 0.9px 0 #fff
            font-family: $base-font
            font-size: 1rem
            font-weight: 700
            line-height: 1.5

        &__link
            width: 90%
