@import '../tools/tools'

.main-nav
    display: flex
    align-items: center
    margin-left: 125px
    line-height: 26px
    font-family: $secondary-fonts

    &__link
        display: block
        padding:
            left: 21px
            right: 19px
        color: #b1bcc0
        font-size: 14px
        text-transform: uppercase
        text-decoration: none

        &_hover:hover
            color: #fff
            background-color: #f60303
            background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%)
            border-radius: 15px
