@import "~susy/sass/susy";
@import "../../sass/core/tools/tools";

.partner-search {
  outline:1px solid #333;
  text-align: center;
  order: 3;

  @include susy-breakpoint(tablet) {
    @include span(12);
  }

  &__title {
    color: $primary-light;
    font-size: 1.875rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__text {
    color: $primary-light;
    @include font-settings(large);
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__input {
    width: 280px;
    height: 40px;
    padding: 5px 10px;
    background-color: $primary-light;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 0 #eee;
    color: #999;
    @include font-settings(medium);
    font-weight: 400;

    &--hidden {
      display: none;
    }

    &--visible {
      display: block;
    }
  }
}