@import "~susy/sass/susy";
@import "../../sass/core/tools/tools";

.partner-search {
  text-align: center;

  &__title {
    color: $primary-light;
    font-size: 1.875rem;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    color: $primary-light;
    @include font-settings(strong);
    font-weight: 400;
  }
}