@import '../../tools/tools'

.substrate
    outline: 1px solid black
    width: 100%

    &_header
        background: #fff url('../img/header-back.jpg') 0 0 no-repeat

    &_slider
        opacity: 0.2
        background-color: #000

    &_gradient
        background-image: linear-gradient(to top, #322539 0%, #745083 100%)

    &_white
        background-color: #f9f9f9

    &_logos
        background-color: #f9f9f9

    &_grey
        background-color: #ececec

    &_footer
        background: #fff url('../img/footer-back.jpg') 0 0 no-repeat
