@import '../../tools/tools'

.substrate
    display: flex
    align-items: center
    flex-direction: column
    width: 100%
    min-width: 320px

    &_header
        padding: 4.375rem 0
        background: url('../img/header-back.jpg') no-repeat center center fixed
        background-size: cover

    &_opacity
        background: transparent

    &_color_gradient
        border-top: 1px solid #33253a
        background-image: linear-gradient(to top, #322539 0%, #745083 100%)

    &_color_white
        border-bottom: 1px solid #e6e6e6
        background-color: #f9f9f9

    &_color_light-grey
        display: none
        background-color: #ececec

    &_footer
        background: #fff url('../img/footer-back.jpg') 0 0 no-repeat
