@import '../../tools/tools'

@media #{$desktop}
    @-moz-document url-prefix()
        .page-header__nav
            transform: translateX(0)

    .page-header
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: baseline
        width: 100%
        padding:
            top: 4.25rem
            bottom: 10.75rem
        max-width: 960px

        &__nav
            position: relative
            width: 65%
            visibility: visible
            top: 0

            &:hover
                color: $accent

            .nav__link
                font-size: $base-font-size*1.5
                padding: 0 5px

                &:hover
                    color: $primary
                    border-bottom: 2px solid rgb(237, 191, 255)
                    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6)

        .site-logo
            margin-left: 2rem
