@import '../../tools/tools'

@media #{$tablet}
    .article
        width: 26.5%
        margin-bottom: 0

        &__body
            flex: 0 0 80%

        &__text
            max-height: $base-font-size*9
