@import '../../tools/tools'

@media #{$tablet}
    .article
        width: 28%
        margin-bottom: 0

        &__body
            flex: 1 0 72.5%

        &__text
            max-height: $base-font-size*9
