@import "../../sass/core/tools/tools";

.steps {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 15px;
  }

  &__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}