@import "~susy/sass/susy";
@import "../../sass/core/tools/tools";

.steps {
  @include container();
  padding-top: 35px;

  @include susy-breakpoint(tablet) {
    padding-top: 100px;
  }

  &__title {
    margin-bottom: 15px;
    color: $primary-dark;
    @include font-settings(large);
    font-weight: 700;
    text-align: center;

    @include susy-breakpoint(tablet) {
      margin-bottom: 35px;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    @include susy-breakpoint(tablet) {
      @include span(4 of 12);
      margin-bottom: 0;
    }
  }
}