@import '../../tools/tools'

@media #{$mobile}
    .substrate
        &_slider
            background: rgba(0, 0, 0, 0.2)
            height: 15.375rem
            margin:
                top: 4.5rem
                bottom: 6.25rem

        &_color_light-grey
            position: relative
            z-index: 100
            background-color: #ececec
            box-shadow: 0px 12px 10px 0px rgba(0,0,0,0.2)
