@import '../../tools/tools'

@media #{$mobile}
    .substrate
        &_slider
            background: rgba(0, 0, 0, 0.2)
            height: 246px
            margin:
                top: 72px
                bottom: 100px

        &_color_light-grey
            position: relative
            z-index: 100
            background-color: #ececec
            box-shadow: 0px 12px 10px 0px rgba(0,0,0,0.2)
