@import '../../tools/tools'

@media #{$mobile}
    .b-logos
        display: flex
        flex-flow: row wrap
        padding:
            top: 2.25rem
            bottom: 2.625rem

        &__item
            width: 30%
            margin-bottom: 3.125rem

            &:nth-child(n+4)
                margin-bottom: 0
