@import '../../tools/tools'

@media #{$mobile}
    .b-logos
        padding:
            top: 2.25rem
            bottom: 2.625rem

        &__item
            width: 33%
            margin-bottom: 3.125rem

            &:nth-child(n+4)
                margin-bottom: 0
