@import '../../tools/tools'

.blog
    margin-top: 3.125rem
    display: flex
    flex-direction: column

    &__title
        margin-bottom: 1.5rem
        color: #454545
        font-family: $title-font
        font-size: $base-font-size*1.875
        line-height: 1
        text-transform: uppercase
        text-shadow: 0.5px 0.9px 0 #fff

    &__link
        // margin-top: 1.5rem
        align-self: flex-end
        color: #454545
        font-family: $link-font
        font-size: $base-font-size*1.125
        line-height: 1.5
        text-decoration: none
        text-transform: uppercase
        text-shadow: 0.5px 0.9px 0 #fff

        &:hover
            color: #edbfff
