@import '../../tools/tools'

@media #{$desktop}
    .page-footer
        width: 97.5%
        padding: 2.875rem 0
        height: auto
        @include clearfix

        &__nav
            float: left
            display: block
            width: 70%
            margin-bottom: 0

            .nav__item
                text-align: center
                width: auto
                margin-right: 7%
                white-space: nowrap

                &:last-child
                    margin-right: 0

            .nav__link
                line-height: 100%

        &__copyright
            float: right
            line-height: 100%
