@import '../../tools/tools'

@media #{$desktop}
    .page-footer
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: baseline
        width: 100%
        padding: 2.875rem 0
        height: auto

        &__nav
            display: block
            width: 60%
            margin-bottom: 0

            .nav_view_horizontal
                width: 100%
