@import '../../tools/tools'

@media #{$desktop}
    .page-footer
        display: flex
        flex-direction: row !important
        justify-content: space-between !important
        width: 100% !important
        padding: 3rem 0 !important
        height: auto

        &__nav
            max-width: 80%
            margin-bottom: 0 !important
            align-self: auto !important

        &__copyright
            align-self: auto !important
