@import '../tools/tools'

.b-logos
    height: 27px
    width: 676px
    background: transparent url('../img/company-logos.png') 0 0 no-repeat
    margin:
        top: 38px
        right: auto
        bottom: 0
        left: auto
