@import 'tools';

.list {
  padding-right: 40px;

  &__item {
    opacity: 0.3;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    &:last-child {
      border-bottom: 0;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__link {
    display: block;
    color: $primary-light;
    @include font-settings(xs-small);
    font-weight: 400;
    line-height: 3;
    text-transform: capitalize;

    &:hover {
      color: $secondary-accent;
    }
  }
}
