@import 'susy';
@import 'tools';

.page-footer {
  @include container();
  padding-top: 60px;
  padding-bottom: 80px;

  &__item {
    @include span(3 of 12);
  }

  &__item-title {
    margin-bottom: 40px;
    color: $primary-light;
    @include font-settings(medium);
    font-weight: 700;
    text-transform: uppercase;
  }
}
