@import '../../tools/tools'

.slider-nav
    margin-top: 5rem

    &__item
        margin:
            top: 0
            left: .15rem
            bottom: 0
            right: .15rem
        width: 1rem
        height: 1rem
        display: inline-block
        background: rgba(0, 0, 0, 0.3)
        overflow: hidden
        text-indent: -9999px
        border-radius: 50%

        &_active
            background: linear-gradient(to top, #d4d4d4 0%, #fff 100%)
            border: 2px solid rgba(0, 0, 0, 0.6)
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.8)
