@import "~susy/sass/susy";
@import "../sass/core/tools/tools";

.page-footer {
  @include container();
  padding-top: 16px;
  padding-bottom: 20px;
  border-top: 4px solid $accent;

  @include susy-breakpoint(tablet) {
    padding: 40px 20px;
  }

  @include susy-breakpoint(desktop) {
    padding: 40px 250px;
  }

  & .logo {
    @include susy-breakpoint(tablet) {
      @include span(3 of 12);
    }

    &__link {
      color: $accent;

      &:hover {
        color: $primary-dark;
      }
    }
  }
}