@import "~susy/sass/susy";
@import "../sass/core/tools/tools";

.promo-headline {
  @include container();
  display: flex;
  flex-direction: column;
  height: 540px;
  padding-top: 30px;
  background: #333 url("../../img/promo-bg.jpg") no-repeat center;
  background-size: cover;

  @include susy-breakpoint(tablet) {
    flex-flow: row wrap;
    align-content: space-between;
    height: 700px;
    padding-top: 38px;
    padding-bottom: 240px;
  }
}