@import "~susy/sass/susy";
@import "../sass/core/tools/tools";

.promo-headline {
  @include container();
  display: flex;
  flex-direction: column;
  height: 540px;
  padding-top: 30px;
  background: #333 url("../../img/promo-bg.jpg") no-repeat center;
  background-size: cover;

  @include susy-breakpoint(tablet) {
    position: relative;
    flex-direction: row;
    align-items: baseline;
    height: 700px;
    padding: 38px 50px 0;
  }

  @include susy-breakpoint(desktop) {
    padding-left: 250px;
    padding-right: 250px;
  }

  & .partner-search {
    width: 280px;
    margin: 0 auto;
    order: 3;

    @include susy-breakpoint(tablet) {
      width: 500px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include susy-breakpoint(desktop) {
      width: 550px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__title {
      margin-bottom: 10px;

      @include susy-breakpoint(tablet) {
        font-size: 52px;
        margin-bottom: 30px;
      }
    }

    &__text {
      margin-bottom: 15px;
      padding: 0 30px;

      @include susy-breakpoint(tablet) {
        margin-bottom: 30px;
        @include font-settings(xs-large);
        font-weight: 300;
      }
    }

    & .button {
      @include susy-breakpoint(tablet) {
        width: 226px;
      }
    }
  }
}