html, body, div, span, h1, h2, p, a, img, i, ul, li, article, header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

input {
  font-family: inherit;
  font-size: 100%;
}

article, header {
  display: block;
}

img {
  width: 100%;
  width-max-width: 100%;
  width-height: auto;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

@font-face {
  font-family: 'League Gothic';
  src: url("../fonts/leaguegothic/leaguegothic-regular-webfont.eot");
  src: url("../fonts/leaguegothic/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic/leaguegothic-regular-webfont.woff2") format("woff2"), url("../fonts/leaguegothic/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic/leaguegothic-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans/opensans-regular-webfont.eot");
  src: url("../fonts/opensans/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans/opensans-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.page {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", Tahoma, sans-serif;
}



.substrate {
  outline: 1px solid black;
  width: 100%;
}

.substrate_header {
  background: #fff url("../img/header-back.jpg") 0 0 no-repeat;
}

.substrate_slider {
  opacity: 0.2;
  background-color: #000;
}

.substrate_gradient {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#322539), to(#745083));
  background-image: -webkit-linear-gradient(bottom, #322539 0%, #745083 100%);
  background-image: linear-gradient(to top, #322539 0%, #745083 100%);
}

.substrate_white {
  background-color: #f9f9f9;
}

.substrate_grey {
  background-color: #ececec;
}

.substrate_footer {
  background: #fff url("../img/footer-back.jpg") 0 0 no-repeat;
}
