html, body, div, span, h1, h2, h3, p, a, img, i, ul, li, article, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

article, footer, header, nav, section {
  display: block;
}

img {
  height: auto;
  max-width: 100%;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

@font-face {
  font-family: 'League Gothic';
  src: url("../fonts/leaguegothic/leaguegothic-regular-webfont.eot");
  src: url("../fonts/leaguegothic/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic/leaguegothic-regular-webfont.woff2") format("woff2"), url("../fonts/leaguegothic/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic/leaguegothic-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans/opensans-regular-webfont.eot");
  src: url("../fonts/opensans/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans/opensans-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.article {
  margin-bottom: 1.875rem;
  width: 85%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.article:last-child {
  margin-bottom: 0;
}

.article__icon {
  margin-top: .25rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 1.875rem;
      -ms-flex: 0 0 1.875rem;
          flex: 0 0 1.875rem;
  margin-right: 1.5rem;
  background: url("../img/wrench-i.png") 0 0 no-repeat;
}

.article__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 80%;
      -ms-flex: 1 0 80%;
          flex: 1 0 80%;
}

.article__title {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.3;
  font-family: "League Gothic", Arial, sans-serif;
  text-transform: uppercase;
  text-shadow: 0.5px 0.9px 0 #0f1518;
}

.article__text {
  font-size: 1rem;
  font-family: "Open Sans", Tahoma, sans-serif;
  color: #fff;
  text-shadow: 0.5px 0.9px 0 #0f1518;
  overflow: hidden;
  word-wrap: normal;
  line-height: 1.5;
  max-height: 4.5rem;
}

.article__link {
  margin-top: 1rem;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  color: #fff;
  font-family: "League Gothic", Arial, sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0.5px 0.9px 0 #0f1518;
}

.article__link:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.b-about {
  max-width: 960px;
  width: 100%;
  padding: 4.5rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-content {
  padding-top: 4.375rem;
  padding-bottom: 5.625rem;
  max-width: 960px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-content__slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.b-content__slider .slider-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 1.5rem;
  padding-bottom: 1.875rem;
  padding-left: 2rem;
  width: 80%;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.b-content__slider .slider-item__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90%;
}

.b-content__slider .slider-item__title {
  color: #454545;
  font-size: 1.5rem;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 0.5px 0.9px 0 #fff;
}

.b-content__slider .slider-item__title_sub {
  font-size: 1.5rem;
  line-height: 1;
  text-transform: uppercase;
}

.b-content__slider .slider-item__text {
  display: block;
  margin-top: .5rem;
  font-size: 1rem;
  line-height: 1.5;
  overflow: hidden;
  word-wrap: break-word;
  max-height: 10.5rem;
}

.b-content__slider .slider-item__img {
  display: block;
  width: 3.125rem;
  position: absolute;
  top: 1rem;
  left: -1.5625rem;
}

.b-content__slider .slider__nav {
  margin-top: 1.5rem;
}

.b-content__slider .slider__control {
  border: 1px solid #e6e6e6;
  background: -webkit-gradient(linear, left bottom, left top, from(#d4d4d4), to(#fff));
  background: -webkit-linear-gradient(bottom, #d4d4d4 0%, #fff 100%);
  background: linear-gradient(to top, #d4d4d4 0%, #fff 100%);
  -webkit-box-shadow: 1px 1.7px 0 #fff;
          box-shadow: 1px 1.7px 0 #fff;
}

.b-content__slider .slider__control_active {
  background: -webkit-gradient(linear, left bottom, left top, from(#454545), to(#6a6a6a));
  background: -webkit-linear-gradient(bottom, #454545 0%, #6a6a6a 100%);
  background: linear-gradient(to top, #454545 0%, #6a6a6a 100%);
  border: 1px solid #454545;
}

.b-logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 960px;
  width: 100%;
  padding-top: 3.125rem;
  padding-bottom: 4.5rem;
}

.b-logos__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-bottom: 2.5rem;
}

.b-logos__item:nth-child(n+5) {
  margin-bottom: 0;
}

.b-logos__link {
  display: block;
  outline: 1px solid red;
}

.b-logos__link_bllabong {
  background: url("../img/logos.png") no-repeat 0 -0.0625rem;
  background-size: cover;
  width: 4.3125rem;
  height: 4rem;
}

.b-logos__link_gc {
  background: url("../img/logos.png") no-repeat -4.4375rem -0.0625rem;
  background-size: cover;
  width: 4.5rem;
  height: 4rem;
}

.b-logos__link_tree {
  background: url("../img/logos.png") no-repeat -145px 0;
  width: 4.0625rem;
  height: 4.0625rem;
}

.b-logos__link_awsm {
  background: url("../img/logos.png") no-repeat -12.8rem -0.125rem;
  background-size: cover;
  width: 3.125rem;
  height: 3.9375rem;
}

.b-logos__link_raca {
  background: url("../img/logos.png") no-repeat -264px -44px;
  width: 6.4375rem;
  height: 1.3125rem;
}

.b-logos__link_vonzipper {
  background: url("../img/logos.png") no-repeat -369px -5px;
  width: 4.875rem;
  height: 3.75rem;
}

.b-news {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 960px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.b-news__item {
  margin-bottom: 4rem;
  width: 90%;
}

.b-news__item:last-child {
  margin-bottom: 0;
}

.b-news__title {
  color: #454545;
  font-family: "League Gothic", Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 0.5px 0.9px 0 #fff;
}

.b-news__text {
  margin-top: 0.5rem;
  text-shadow: 0.5px 0.9px 0 #fff;
  color: #787878;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  overflow: hidden;
  word-wrap: normal;
  max-height: 6rem;
}

.b-news__site-logo {
  display: none;
}

.b-news__copyright {
  display: none;
}

.blog-posts {
  margin-top: 3.125rem;
  width: 87.5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-posts__title {
  margin-bottom: 1rem;
  color: #454545;
  font-family: "League Gothic", Arial, sans-serif;
  font-size: 1.875rem;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 0.5px 0.9px 0 #fff;
}

.blog-posts__link {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  color: #454545;
  font-family: "League Gothic", Arial, sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0.5px 0.9px 0 #fff;
}

.blog-posts__link:hover {
  color: #edbfff;
}

.copyright {
  text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 0.75rem;
}

.copyright_view_accent {
  font-weight: 700;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}

.nav__link {
  color: #fff;
  font-family: "League Gothic", Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link_visible {
  visibility: visible;
  padding: 0 5px;
}

.nav_view_vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(5, 17, 22, 0.9);
  -webkit-border-radius: 7px;
          border-radius: 7px;
  overflow: hidden;
}

.nav_view_vertical:hover > .nav__item {
  display: block;
  background-color: #36293e;
  background-color: rgba(54, 41, 62, 0.9);
  border-bottom: 1px solid rgba(53, 39, 61, 0.9);
  -webkit-box-shadow: inset 0 -1px 0 rgba(105, 82, 114, 0.59);
          box-shadow: inset 0 -1px 0 rgba(105, 82, 114, 0.59);
}

.nav_view_vertical:hover .nav__link {
  display: block;
}

.nav_view_vertical:hover .nav__link_initial {
  text-shadow: none;
  border: 0;
}

.nav_view_vertical .nav__item {
  min-width: 15.25rem;
  padding-top: 1px;
  text-align: center;
  overflow: hidden;
}

.nav_view_vertical .nav__link {
  font-size: 1.5rem;
  line-height: 2.625rem;
  text-align: center;
  height: 2.875rem;
}

.nav_view_vertical .nav__link_initial {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  border-bottom: 2px solid #edbfff;
}

.nav_view_vertical .nav__link:hover {
  display: block;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  border-bottom: 2px solid #edbfff;
}

.nav_view_horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_view_horizontal .nav__link {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.125rem;
  text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
}

.nav_view_horizontal .nav__link:hover {
  color: #edbfff;
}

.page {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", Tahoma, sans-serif;
  background-color: #f9f9f9;
}

.page-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 960px;
  width: 100%;
  height: 12.5rem;
  padding-top: 2.875rem;
}

.page-footer__nav {
  display: none;
}

.page-header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4.375rem;
  padding-bottom: 2.5rem;
  max-width: 960px;
}

.page-header__nav {
  z-index: 100;
  position: absolute;
  top: 100%;
  visibility: hidden;
}

.page-header__nav:hover {
  visibility: visible;
}

.post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.post__img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 3rem;
      -ms-flex: 0 0 3rem;
          flex: 0 0 3rem;
  margin-right: 1.125rem;
}

.post__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 75%;
      -ms-flex: 1 0 75%;
          flex: 1 0 75%;
}

.post__title {
  color: #454545;
  text-shadow: 0.5px 0.9px 0 #fff;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.post__link {
  display: block;
  width: 80%;
  color: #454545;
  text-shadow: 0.5px 0.9px 0 #fff;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  overflow: hidden;
  max-height: 1.5rem;
}

.post__link:hover {
  color: #edbfff;
}

.post__text {
  color: #454545;
  text-shadow: 0.5px 0.9px 0 #fff;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  overflow: hidden;
  word-wrap: break-word;
  max-height: 1.5rem;
}

.site-logo {
  color: #fff;
  font-family: "League Gothic", Arial, sans-serif;
  font-size: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.site-logo_view_accent {
  background: -webkit-gradient(linear, left bottom, left top, from(#322539), to(#745083));
  background: -webkit-linear-gradient(bottom, #322539 0%, #745083 100%);
  background: linear-gradient(to top, #322539 0%, #745083 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 320px;
}

.slider__body {
  width: 90%;
}

.slider__button {
  display: block;
  height: 2.625rem;
  width: 2rem;
}

.slider__button_left {
  background: url("../img/slider-arrow_left.png") 0 0 no-repeat;
  background-size: cover;
}

.slider__button_right {
  background: url("../img/slider-arrow_right.png") 0 0 no-repeat;
  background-size: cover;
}

.slider_role_main {
  position: relative;
  max-width: 960px;
  width: 100%;
  height: 100%;
}

.slider_role_main .slider__body {
  height: inherit;
}

.slider_role_main .slider__nav {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider_role_main .slider-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.slider_role_main .slider-item__body {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.slider_role_main .slider-item__text {
  display: none;
}

.slider_role_main .slider-item__img-wrap {
  display: none;
}

.slider__control {
  margin-top: 0;
  margin-left: .15rem;
  margin-bottom: 0;
  margin-right: .15rem;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.slider__control_active {
  background: -webkit-gradient(linear, left bottom, left top, from(#d4d4d4), to(#fff));
  background: -webkit-linear-gradient(bottom, #d4d4d4 0%, #fff 100%);
  background: linear-gradient(to top, #d4d4d4 0%, #fff 100%);
  border: 2px solid rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.slider-item__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-item__title {
  color: #fefefe;
  font-family: "League Gothic", Arial, sans-serif;
  font-size: 2.25rem;
  line-height: 1.1;
  text-transform: capitalize;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.slider-item__title_sub {
  color: #edbfff;
  font-family: "League Gothic", Arial, sans-serif;
  font-size: 1.125rem;
  max-height: 1.125rem;
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.slider-item__text {
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 1rem;
}

.substrate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 320px;
}

.substrate_header {
  background: url("../img/header-back.jpg") no-repeat center center fixed;
  background-size: cover;
}

.substrate_slider {
  margin-top: 10rem;
  margin-bottom: 9.25rem;
  background: transparent;
}

.substrate_color_gradient {
  position: relative;
  border-top: 1px solid #33253a;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#322539), to(#745083));
  background-image: -webkit-linear-gradient(bottom, #322539 0%, #745083 100%);
  background-image: linear-gradient(to top, #322539 0%, #745083 100%);
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 150;
}

.substrate_color_white {
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.substrate_color_light-grey {
  background-color: #ececec;
}

.substrate_footer {
  background: #fff url("../img/footer-back.jpg") no-repeat center center;
  background-size: cover;
}

@media screen and (min-width: 960px) {
  .article {
    width: 31%;
    margin-bottom: 0;
  }
  .article__body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 72.5%;
        -ms-flex: 1 0 72.5%;
            flex: 1 0 72.5%;
  }
  .article__title {
    font-size: 1.875rem;
  }
  .article__text {
    margin-top: .5rem;
    max-height: 7.5rem;
  }
  .article__link {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 960px) {
  .b-about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 5rem;
    padding-right: .5rem;
    padding-bottom: 4.375rem;
    padding-left: .5rem;
  }
}

@media screen and (min-width: 960px) {
  .b-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 6.25rem;
    padding-bottom: 4.625rem;
    width: 100%;
  }
  .b-content__slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 45%;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    padding: 0;
    margin-bottom: 0;
  }
  .b-content__slider .slider-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 1.875rem;
    padding-right: 0;
    padding-bottom: 2.875rem;
    padding-left: 2.2rem;
    width: 90%;
  }
  .b-content__slider .slider-item__body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .b-content__slider .slider-item__title {
    margin-right: .2rem;
    font-size: 1.875rem;
  }
  .b-content__slider .slider-item__title_sub {
    font-size: 1.875rem;
  }
  .b-content__slider .slider-item__text {
    margin-top: .5rem;
    max-height: 10.5rem;
  }
  .b-content__slider .slider-item__img {
    position: absolute;
    top: 1.25rem;
    left: -1.4rem;
  }
  .b-content__slider .slider__nav {
    position: relative;
    margin-bottom: 0;
    margin-top: 1.5rem;
    bottom: auto;
    left: auto;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (min-width: 960px) {
  .b-logos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.75rem 0;
  }
  .b-logos__item {
    width: 15%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 960px) {
  .b-news {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 6.25rem 0;
  }
  .b-news__item {
    width: 30%;
    margin-bottom: 0;
  }
  .b-news__item_view_accent .b-news__title {
    display: none;
  }
  .b-news__item_view_accent .b-news__text {
    max-height: 7.5rem;
  }
  .b-news__text {
    max-height: 10.5rem;
  }
  .b-news__site-logo {
    display: block;
    text-shadow: 0 1px 0 #fff;
    color: #454545;
    font-size: 3rem;
    line-height: 1;
  }
  .b-news__site-logo .site-logo_view_accent {
    text-shadow: 0 1px 0 #fff;
    color: #b9b9b9;
    font-size: 3rem;
    line-height: 1;
    -webkit-text-fill-color: #b9b9b9;
  }
  .b-news__copyright {
    margin-top: .5rem;
    display: block;
    text-shadow: 0.5px 0.9px 0 #fff;
    color: #c5c5c5;
    font-family: Georgia;
    font-size: 1rem;
    font-style: italic;
    line-height: 1.5;
  }
}

@media screen and (min-width: 960px) {
  .blog-posts {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin-top: 0;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 960px) {
  .page-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 100%;
    padding: 2.875rem 0;
    height: auto;
  }
  .page-footer__nav {
    display: block;
    width: 60%;
    margin-bottom: 0;
  }
  .page-footer__nav .nav_view_horizontal {
    width: 100%;
  }
}

@media screen and (min-width: 960px) {
  .page-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 100%;
    padding-top: 4.25rem;
    padding-bottom: 10.75rem;
    max-width: 960px;
  }
  .page-header__nav {
    position: relative;
    width: 65%;
    visibility: visible;
  }
  .page-header__nav:hover {
    color: #edbfff;
  }
  .page-header__nav .nav__link {
    font-size: 1.5rem;
    padding: 0 5px;
  }
  .page-header__nav .nav__link:hover {
    border-bottom: 2px solid #edbfff;
    color: #fff;
  }
  .page-header .site-logo {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 960px) {
  .slider_role_main .slider__body {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 92.5%;
        -ms-flex: 0 0 92.5%;
            flex: 0 0 92.5%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .slider_role_main .slider__nav {
    position: absolute;
    bottom: -5.625rem;
    right: 12.5%;
    left: auto;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .slider_role_main .slider-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .slider_role_main .slider-item__body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 1rem;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 57.5%;
        -ms-flex: 0 0 57.5%;
            flex: 0 0 57.5%;
  }
  .slider_role_main .slider-item__title {
    font-size: 3.75rem;
  }
  .slider_role_main .slider-item__title_sub {
    margin-top: 0;
    font-size: 2rem;
    line-height: 1;
  }
  .slider_role_main .slider-item__text {
    display: block;
    margin-top: 1rem;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    overflow: hidden;
    word-wrap: break-word;
    max-height: 100%;
  }
  .slider_role_main .slider-item__img-wrap {
    position: relative;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 32.5%;
        -ms-flex: 0 0 32.5%;
            flex: 0 0 32.5%;
  }
  .slider_role_main .slider-item__img {
    position: absolute;
    top: -1.5rem;
    width: 17.125rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .article {
    width: 90%;
    margin-bottom: 0;
  }
  .article__body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 85%;
        -ms-flex: 1 0 85%;
            flex: 1 0 85%;
  }
}

@media screen and (min-width: 960px) {
  .substrate_slider {
    background: rgba(0, 0, 0, 0.2);
    height: 25rem;
    margin-top: 0;
    margin-bottom: 10.5rem;
  }
  .substrate_color_light-grey {
    position: relative;
    z-index: 100;
    background-color: #ececec;
    -webkit-box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .b-content__slider {
    position: relative;
    padding-right: 1.5rem;
    margin-bottom: 3.125rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .b-content__slider .slider-item {
    padding-right: 0;
    width: 90%;
  }
  .b-content__slider .slider-item__body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 80%;
        -ms-flex: 1 0 80%;
            flex: 1 0 80%;
  }
  .b-content__slider .slider-item__title {
    margin-right: .2rem;
    font-size: 1.875rem;
  }
  .b-content__slider .slider-item__title_sub {
    font-size: 1.875rem;
  }
  .b-content__slider .slider__nav {
    position: absolute;
    bottom: -2.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .b-logos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding-top: 2.25rem;
    padding-bottom: 2.625rem;
  }
  .b-logos__item {
    width: 30%;
    margin-bottom: 3.125rem;
  }
  .b-logos__item:nth-child(n+4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .b-news {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .blog-posts {
    width: 70%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .page-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 3rem;
  }
  .page-footer__nav {
    display: block;
    width: 90%;
    margin-bottom: 2.625rem;
  }
  .page-footer__nav .nav_view_horizontal {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .post {
    margin-bottom: 1.25rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .slider_role_main .slider__body {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 85%;
        -ms-flex: 0 0 85%;
            flex: 0 0 85%;
  }
  .slider_role_main .slider__nav {
    position: absolute;
    bottom: -2.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .slider_role_main .slider-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .slider_role_main .slider-item__body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
  .slider_role_main .slider-item__title_sub {
    overflow: hidden;
    font-size: 1rem;
    max-height: 1rem;
  }
  .slider_role_main .slider-item__img-wrap {
    position: relative;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 45%;
        -ms-flex: 1 0 45%;
            flex: 1 0 45%;
  }
  .slider_role_main .slider-item__img {
    position: absolute;
    top: -.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 12rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .substrate_slider {
    background: rgba(0, 0, 0, 0.2);
    height: 15.375rem;
    margin-top: 4.5rem;
    margin-bottom: 6.25rem;
  }
  .substrate_color_light-grey {
    position: relative;
    z-index: 100;
    background-color: #ececec;
    -webkit-box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .article {
    width: 28%;
    margin-bottom: 0;
  }
  .article__body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 72.5%;
        -ms-flex: 1 0 72.5%;
            flex: 1 0 72.5%;
  }
  .article__text {
    max-height: 9rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .b-about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .b-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 6.25rem;
    padding-bottom: 5.75rem;
    width: 95%;
  }
  .b-content__slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 45%;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
  .b-content__slider .slider-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 1.875rem;
    padding-left: 2.2rem;
    padding-bottom: 2.875rem;
    width: 90%;
  }
  .b-content__slider .slider-item__body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .b-content__slider .slider-item__title {
    font-size: 1.5rem;
  }
  .b-content__slider .slider-item__title_sub {
    font-size: 1.5rem;
  }
  .b-content__slider .slider-item__text {
    margin-top: 1rem;
    max-height: 9rem;
  }
  .b-content__slider .slider-item__img {
    position: absolute;
    top: 1.25rem;
  }
  .b-content__slider .slider__nav {
    margin-bottom: 0;
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .b-logos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 1.75rem 0;
  }
  .b-logos__item {
    width: 15%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .b-news {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 6.25rem 0;
  }
  .b-news__item {
    width: 27.5%;
    margin-bottom: 0;
  }
  .b-news__text {
    max-height: 10.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .blog-posts {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 47.5%;
        -ms-flex: 0 0 47.5%;
            flex: 0 0 47.5%;
    margin-top: .5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .page-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    padding-top: 3rem;
  }
  .page-footer__nav {
    display: block;
    width: 70%;
    margin-bottom: 2.625rem;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  .page-footer__nav .nav_view_horizontal {
    width: 100%;
  }
  .page-footer__copyright {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .page-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 95%;
    padding-top: 4.25rem;
    padding-bottom: 5rem;
    max-width: 960px;
  }
  .page-header__nav {
    position: relative;
    visibility: visible;
    margin-top: 2rem;
    width: 85%;
  }
  .page-header__nav:hover {
    color: #edbfff;
  }
  .page-header__nav .nav__link {
    font-size: 1.5rem;
  }
  .page-header .site-logo {
    margin-left: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .slider_role_main .slider__body {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 90%;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
  }
  .slider_role_main .slider__nav {
    position: absolute;
    bottom: -3.275rem;
    right: 17.5%;
    left: auto;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .slider_role_main .slider-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .slider_role_main .slider-item__body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 1.5rem;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 45%;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
  .slider_role_main .slider-item__title {
    font-size: 3rem;
  }
  .slider_role_main .slider-item__title_sub {
    margin-top: .5rem;
    font-size: 1.3rem;
    line-height: 1;
    max-height: 1.3rem;
  }
  .slider_role_main .slider-item__text {
    display: block;
    margin-top: .5rem;
    color: #fff;
    line-height: 1.5;
    overflow: hidden;
    word-wrap: break-word;
    max-height: 6rem;
  }
  .slider_role_main .slider-item__img-wrap {
    position: relative;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 45%;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
  .slider_role_main .slider-item__img {
    position: absolute;
    top: -1.5rem;
    width: 17.125rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .substrate_slider {
    background: rgba(0, 0, 0, 0.2);
    height: 25rem;
    margin-top: 0;
    margin-bottom: 9.5rem;
  }
  .substrate_color_light-grey {
    position: relative;
    z-index: 100;
    background-color: #ececec;
    -webkit-box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.2);
  }
}
