@import 'susy';
@import 'tools';

.contacts {
  @include span(10 of 12);
  display: flex;

  &__item {
    display: flex;
    margin-right: 40px;
    cursor: default;

    &:last-child {
      margin-right: 0;
    }

    &:hover > .contacts__text {
      color: #fefefe;
    }
  }

  &__icon {
    display: block;
    margin-right: 15px;
    width: 15px;
    height: 15px;
    fill: #fefefe;
  }

  &__text {
    @include font-settings(xs-small);
    color: #6f7073;
  }
}