@import '../tools/tools'

.b-products
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-content: flex-start
    padding:
        top: 16px
        right: 30px
        bottom: 29px
        left: 24px
    width: 526px
    background-color: #fff
    background-image: linear-gradient(to top, rgba(35, 75, 93, 0.24) 0%, rgba(201, 207, 209, 0.24) 100%)
    border-radius: 3px
    font-family: $secondary-fonts

    &__item
        display: flex
        flex-direction: column
        align-items: center

    &__brand
        color: #206988
        font-size: 15px
        line-height: 13px

    &__figure
        display: flex
        flex-direction: column
        align-items: center

    &__model
        color: #1f2528
        font-size: 13px

    &__link
        display: block
        width: 138px
        height: 129px
        padding-top: 5px
        background-color: #fff
        border: 1px solid #a4aeb1
        border-radius: 7px
        text-align: center

    &__price
        color: #114165
        font-size: 16px
        font-family: $base-fonts
        font-weight: 700
        font-style: italic
        line-height: 10px

    &__currency
        font-size: 12px
