@import '../tools/tools'

.b-products
    display: flex
    flex-flow: row wrap
    margin:
        left: 9px
        right: 10px
    padding:
        top: 16px
        bottom: 29px
        left: 23px
    width: 526px
    background-color: #fff
    background-image: linear-gradient(to top, rgba(35, 75, 93, 0.24) 0%, rgba(201, 207, 209, 0.24) 100%)
    border-radius: 3px
    font-family: $secondary-fonts
