@import 'susy';
@import 'tools';

.accordion-container {
  @include span(6 of 12);
}

.accordion {
  padding-top: 40px;

  &__item {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    @include font-settings(xs-small);
    color: $primary-dark;
    font-weight: 700;
    text-transform: uppercase;
    background-color: $primary-light;
    border: 1px solid $border-color;
    transition: all 0.2s linear;

    &_active {
      background-color: $primary-accent;
      color: $primary-light;
    }

    &:hover {
      color: $secondary-accent;
    }
  }

  &__icon {
    display: block;
    margin-right: 15px;
    padding: 15px;
    border-right: 2px solid $border-color;
    color: $primary-dark;

    &_active {
      color: $primary-light;
    }

    &_hover {
      color: $secondary-accent;
    }
  }

  &__content {
    background-color: transparent;
    display: none;

    &_active {
      display: block;
    }

    & p {
      padding: 30px 0 30px 45px;
      @include font-settings(xs-small);
      font-weight: 400;
      color: $secondary-dark;
    }
  }
}

