html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, input, button, textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, input[type="button"], input[type="submit"] {
  border: none;
  outline: none;
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img, embed, object, video {
  display: block;
  height: auto;
  max-width: 100%;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/gotham_pro_light-webfont.eot");
  src: url("../fonts/gotham_pro_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham_pro_light-webfont.woff2") format("woff2"), url("../fonts/gotham_pro_light-webfont.woff") format("woff"), url("../fonts/gotham_pro_light-webfont.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/gotham_pro-webfont.eot");
  src: url("../fonts/gotham_pro-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham_pro-webfont.woff2") format("woff2"), url("../fonts/gotham_pro-webfont.woff") format("woff"), url("../fonts/gotham_pro-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/gotham_pro_medium-webfont.eot");
  src: url("../fonts/gotham_pro_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham_pro_medium-webfont.woff2") format("woff2"), url("../fonts/gotham_pro_medium-webfont.woff") format("woff"), url("../fonts/gotham_pro_medium-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/gotham_pro_bold-webfont.eot");
  src: url("../fonts/gotham_pro_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham_pro_bold-webfont.woff2") format("woff2"), url("../fonts/gotham_pro_bold-webfont.woff") format("woff"), url("../fonts/gotham_pro_bold-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

a {
  text-decoration: none;
}

a, input[type="button"], input[type="submit"], button {
  font-family: "Gotham Pro", "Roboto", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gotham Pro", "Roboto", Arial, sans-serif;
}

p, input[type="text"], textarea, label {
  font-family: "Gotham Pro", "Roboto", Tahoma, sans-serif;
}

.user-card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  padding: 10px;
  margin-top: 15px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #80503d;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.user-card__img {
  width: 130px;
  height: 130px;
  margin-right: 20px;
}

.user-card__text {
  font-size: 1.333rem;
  line-height: 1.875rem;
  color: #e5e5e5;
  text-transform: capitalize;
}

.user-card__text span {
  font-weight: bold;
}

.zCarousel {
  position: relative;
  width: 750px;
  padding: 25px 0 15px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 5px rgba(255, 255, 255, 0.3);
}

.zCarousel__container {
  width: 600px;
  overflow: hidden;
  margin: 0 auto;
}

.zCarousel__list {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 10000rem;
  list-style: none;
  padding: 0;
}

.zCarousel__item {
  text-align: center;
  margin-right: 25px;
}

.zCarousel__link {
  text-decoration: none;
}

.zCarousel__img {
  width: 100px;
}

.zCarousel__text {
  margin-top: 10px;
}

.zCarousel__control {
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.zCarousel__control_prev {
  left: 10px;
  background: url("../img/carousel/arrow-left.png") no-repeat;
  background-size: contain;
}

.zCarousel__control_next {
  right: 5px;
  background: url("../img/carousel/arrow-right.png") no-repeat;
  background-size: contain;
}

.page {
  padding: 50px 0;
  background: url("../img/page-bg.png");
}

.wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}

head {
  display: block;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 999;
  color: #333;
  background: rgba(255, 255, 255, 0.25);
}

head:before {
  content: "|||";
  display: block;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}

head:hover {
  background: rgba(255, 255, 255, 0.5);
  color: red;
}

head:hover ~ .wrapper,
head:hover ~ body .wrapper {
  position: relative;
}

head:hover ~ .wrapper:before,
head:hover ~ body .wrapper:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.5), rgba(179, 179, 255, 0.5)), linear-gradient(to bottom, #000 1px, transparent 1px);
  background-size: 8.33333%, 100% 1.25rem;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
}

.resig-tmpl, .lodash-tmpl {
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding: 40px 10px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.resig-tmpl h1, .lodash-tmpl h1 {
  font-size: 1.777rem;
  line-height: 2.5rem;
  color: #fefefe;
}

