html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img, embed, object, video {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.page {
  min-height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ededed;
  font-family: Roboto ,sans-serif;
  font-size: 1rem;
}

.timer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 960px;
  width: 960px;
}

.timer__time {
  position: relative;
  width: 100%;
}

.timer__text {
  display: block;
  border: 10px solid black;
  border-radius: 50px;
  font-size: 12rem;
  background: #ccf;
  text-align: center;
  font-weight: bold;
  padding-bottom: 35px;
}

.timer__mls {
  position: absolute;
  bottom: 6%;
  right: 14%;
  font-size: 3rem;
  font-weight: bold;
  width: 60px;
  text-align: center;
}

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  width: 400px;
  margin-top: 50px;
  padding: 10px;
  border: 10px solid black;
  border-radius: 80px;
  font-size: 5rem;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.btn_hidden {
  display: none;
}

.btn_start, .btn_continue {
  background: green;
}

.btn_start:hover, .btn_continue:hover {
  background: #29ff29;
}

.btn_pause {
  background: #4d4dff;
}

.btn_pause:hover {
  background: #8080ff;
}

.btn_reset {
  background: #b30000;
}

.btn_reset:hover {
  background: #ff4d4d;
}
