@import "~susy/sass/susy";
@import "../../sass/core/tools/tools";

.step-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 20px 14px 22px;
  height: 240px;
  width: 300px;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  text-align: left;
  margin: 0 auto;

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
    z-index: 1;
  }

  @include susy-breakpoint(tablet) {
    height: 400px;
    width: auto;
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 20px;
    margin-bottom: 18px;
    background-color: $accent;
    border-radius: 10px;

    color: $primary-light;
    font-family: Montserrat, sans-serif;
    @include font-settings(small);
    font-weight: 400;
    text-transform: uppercase;

    z-index: 2;
  }

  &__title {
    margin-bottom: 20px;
    color: $primary-light;
    @include font-settings(xs-large);
    font-weight: 700;

    z-index: 2;
  }

  &__text {
    color: $secondary-light;
    @include font-settings(medium);
    font-weight: 400;

    z-index: 2;
  }
}