@import "tools";

.container {
  width: 100%;


  &_color_light {
    background-color: $primary-light;
  }

  &_color_dark {
    background-color: $primary-dark;
  }

  &_color_lighter {
    background-color: lighten($primary-dark, 4%);
  }
}