.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
  background-color: lighten(#999, 35%);
  font-family: Roboto ,sans-serif;
}
