.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lighten(#999, 33%);
  font-family: Roboto ,sans-serif;
  font-size: 1rem;
}
