@import '../../tools/tools'

@media #{$tablet}
    .page-footer
        width: 95%
        padding-top: 3rem
        @include clearfix

        &__nav
            display: block
            width: 70%
            margin-bottom: 2.625rem

            .nav__item
                text-align: center
                width: auto
                margin-right: 7%
                white-space: nowrap

                &:last-child
                    margin-right: 0

        &__copyright
            float: right
