@import '../../tools/tools'

@media #{$tablet}
    .page-footer
        display: flex
        flex-direction: column
        width: 90%
        padding-top: 3rem

        &__nav
            display: block
            width: 70%
            margin-bottom: 2.625rem
            align-self: flex-start

            .nav_view_horizontal
                width: 100%

        &__copyright
            align-self: flex-end
