@import '../../tools/tools'

.post
    margin-bottom: 1rem
    @include clearfix

    &__img
        display: inline-block
        float: left
        width: 3rem
        margin-right: 1.125rem

    &__body
        max-width: 75%
        float: left

    &__title
        color: #454545
        text-shadow: 0.5px 0.9px 0 #fff
        font-family: $base-font
        font-size: 1rem
        font-weight: 700
        line-height: 1.5

    &__link
        display: block
        width: 80%
        color: #454545
        text-shadow: 0.5px 0.9px 0 #fff
        font-family: $base-font
        font-size: 1rem
        font-weight: 700
        line-height: 1.5
        text-decoration: none
        overflow: hidden
        max-height: 1.5rem

        &:hover
            color: #edbfff

    &__text
        color: #454545
        text-shadow: 0.5px 0.9px 0 #fff
        font-family: $base-font
        font-size: 1rem
        line-height: 1.5
        font-weight: 300
        overflow: hidden
        word-wrap: break-word
        max-height: 1.5rem
