@import '../tools/tools'

.login-form
    display: flex
    align-items: center
    padding-left: 7px
    font-size: 11px

    &__icon
        margin-right: 3px
        height: 18px
        width: 14px
        background: transparent url(../img/form-icon.png) 0 0 no-repeat

    &__input
        width: 115px
        height: 18px
        margin-right: 6px
        padding-left: 4px
        background-color: #fff
        border: 1px solid #9ba1a3

        &::-webkit-input-placeholder
            color: #97a2a6

    &__submit
        color: $accent
        background-color: transparent
        padding: 0
        border: 0
        outline: 0
        cursor: pointer

    &::after
        display: block
        content: ''
        background-color: #fff
        width: 1px
        height: 11px
        margin:
            right: 5px
            left: 4px
