@import "~susy/sass/susy";
@import "../../sass/core/tools/tools";

.logo {
  @include span(12);
  margin-bottom: 25px;
  order: 2;
  text-align: center;

  @include susy-breakpoint(tablet) {
    @include span(6 of 12);
    margin-bottom: 0;
    order: 1;
    text-align: left;
  }

  &__link {
    @include font-settings(large);
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: $primary-light;

    @include susy-breakpoint(tablet) {
      letter-spacing: 2px;
    }

    &:hover {
      color: $accent;
    }
  }
}