.page-nav {
  width: 100%;
  margin-top: 10px;
}

.menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.8);

  &__item {
    width: 20%;
  }

  &__item_dropdown {
    position: relative;
  }

  &__link {
    display: block;
    padding: 20px 10px;
    border: 1px solid #fefefe;

    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;

    background-color: lighten(#333, 0);
    color: darken(#fefefe, 5%);
  }
}

.sub-menu {
  display: none;
  position: absolute;
  left: 0;
  width: 200px;
  z-index: 100;

  &__link {
    display: block;
    padding: 20px 10px;
    border-bottom: 1px solid #fefefe;

    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;

    background-color: lighten(#333, 0%);
    color: darken(#fefefe, 5%);
  }
}
