.box {
  border: 1px solid #ccc;
  padding: 20px 100px;

  &__title {
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
  }

  &__btn {
    padding: 10px;
    font-size: 16px;
  }
}