@import '../tools/tools'

.sb-section
    font-family: $secondary-fonts

    &__header
        display: block
        margin-left: 1px
        width: 150px
        height: 28px
        padding-left: 28px
        background-color: #fff
        border: 1px solid #79878d
        border-radius: 12px
        color: #114165
        font-size: 14px
        text-transform: uppercase

        &_first
            margin-top: 13px
            line-height: 29px
            background: transparent url('../img/sb-list-icon.png') 4px 1px no-repeat

        &_second
            line-height: 28px
            background: transparent url('../img/sb-list-second-icon.png') 3px 1px no-repeat
            margin-top: 2px

        &_third
            margin-top: 1px
            margin-bottom: 7px
            line-height: 29px
            background: transparent url('../img/sb-list-second-icon.png') 3px 1px no-repeat

        &_form
            width: 136px
            line-height: 28px
            letter-spacing: 0.2px
            padding-left: 29px

            &_second
                background: transparent url('../img/sb-list-second-icon.png') 2px 1px no-repeat
                margin-top: 12px
                margin-bottom: 11px

    &__list
        padding-left: 36px

    &__item
        height: 14px
        margin-top: 12px

        &:first-child
            margin-top: 7px

        &:nth-child(2)
            margin-top: 11px

    &__link
        display: flex
        color: #465961
        font-size: 13px
        line-height: 100%
        text-decoration: none
        letter-spacing: -0.1px

        &_view_bullet
            background: transparent url("../img/list-bullet.png") 0 1px no-repeat
            padding-left: 10px

            &:hover
                background: transparent url("../img/list-bullet-hover.png") 0 2px no-repeat

        &_hover:hover
            color: #0c3256
            font-family: $base-fonts
            line-height: 100%
            font-size: 14px
            font-weight: 700
            font-style: italic
            text-decoration: underline

        &_form
            color: #465961

            &:nth-child(2)
                margin-top: 9px

            &:nth-child(n+3)
                margin-top: 10px
