@import '../../tools/tools'

.b-logos
    display: flex
    flex-flow: row wrap
    max-width: 960px
    width: 100%
    padding:
        top: 3.125rem
        bottom: 4.5rem

    &__item
        display: flex
        justify-content: center
        align-items: center
        width: 50%
        margin-bottom: 2.5rem

        &:nth-child(n+5)
            margin-bottom: 0

    &__link
        display: block

        &_bllabong
            background: url('../img/logos.png') no-repeat 0 -1px
            width: 69px
            height: 64px

        &_gc
            background: url('../img/logos.png') no-repeat -71px -1px
            width: 72px
            height: 64px

        &_tree
            background: url('../img/logos.png') no-repeat -145px 0
            width: 65px
            height: 65px

        &_awsm
            background: url('../img/logos.png') no-repeat -212px -2px
            width: 50px
            height: 63px

        &_raca
            background: url('../img/logos.png') no-repeat -264px -44px
            width: 103px
            height: 21px

        &_vonzipper
            background: url('../img/logos.png') no-repeat -369px -5px
            width: 78px
            height: 60px
