@import '../../tools/tools'

.b-logos
    display: flex
    flex-flow: row wrap
    max-width: 960px
    width: 100%
    padding:
        top: 3.125rem
        bottom: 4.5rem

    &__item
        display: flex
        justify-content: center
        align-items: center
        width: 50%
        margin-bottom: 2.5rem

        &:nth-child(n+5)
            margin-bottom: 0

    &__link
        display: block
        outline: 1px solid red

        &_bllabong
            background: url('../img/logos.png') no-repeat 0 -0.0625rem
            background-size: cover
            width: 4.3125rem
            height: 4rem

        &_gc
            background: url('../img/logos.png') no-repeat -4.4375rem -0.0625rem
            background-size: cover
            width: 4.5rem
            height: 4rem

        &_tree
            background: url('../img/logos.png') no-repeat -145px 0
            width: 4.0625rem
            height: 4.0625rem

        &_awsm
            background: url('../img/logos.png') no-repeat -12.8rem -0.125rem
            background-size: cover
            width: 3.125rem
            height: 3.9375rem

        &_raca
            background: url('../img/logos.png') no-repeat -264px -44px
            width: 6.4375rem
            height: 1.3125rem

        &_vonzipper
            background: url('../img/logos.png') no-repeat -369px -5px
            width: 4.875rem
            height: 3.75rem
