@import '../../tools/tools'

.b-logos
    margin: 0 auto
    max-width: 960px
    width: 100%
    padding:
        top: 3.125rem
        bottom: 4.5rem
    @include clearfix

    &__item
        float: left
        text-align: center
        width: 50%
        margin-bottom: 2.5rem
        height: 65px

        &:nth-child(n+5)
            margin-bottom: 0

    &__link
        display: inline-block

        &_bllabong
            background: url('../img/logos.png') no-repeat 0 -1px
            width: 69px
            height: 64px

        &_gc
            background: url('../img/logos.png') no-repeat -71px -1px
            width: 72px
            height: 64px

        &_tree
            background: url('../img/logos.png') no-repeat -145px 0
            width: 65px
            height: 63px

        &_awsm
            background: url('../img/logos.png') no-repeat -212px -2px
            width: 50px
            height: 63px

        &_raca
            background: url('../img/logos.png') no-repeat -264px -24px
            width: 103px
            height: 61px

        &_vonzipper
            background: url('../img/logos.png') no-repeat -369px -5px
            width: 78px
            height: 60px
