@import '../../tools/tools'

.b-news
    display: none
    // display: flex
    flex-direction: column
    align-items: center
    max-width: 960px
    padding:
        top: 5rem
        bottom: 5rem

    &__item
        margin-bottom: 4rem
        width: 90%

        &:last-child
            margin-bottom: 0

    &__title
        color: #454545
        font-family: $title-font
        font-size: $base-font-size*1.5
        line-height: 1
        font-weight: 400
        text-transform: uppercase
        text-shadow: 0.5px 0.9px 0 #fff

    &__text
        margin-top: 0.5rem
        text-shadow: 0.5px 0.9px 0 #fff
        color: #787878
        font-family: $base-font
        font-size: $base-font-size
        line-height: 1.5
        overflow: hidden
        word-wrap: normal
        max-height: $base-font-size*6

    &__site-logo
        display: none

    &__copyright
        display: none
