@import '../../tools/tools'

@media #{$tablet}
    .b-news
        display: flex
        flex-direction: row
        padding: 6.25rem 0
        justify-content: space-around

        &__item
            width: 27.5%
            margin-bottom: 0

        &__text
            max-height: $base-font-size*10.5
