@import '../../tools/tools'

@media #{$tablet}
    .b-news
        display: block
        width: 95%
        padding: 6.25rem 0
        @include clearfix

        &__item
            float: left
            width: 30%
            margin-bottom: 0
            margin-right: 5%

            &:last-child
                margin-right: 0

        &__text
            max-height: $base-font-size*10.5
